**Добрый день! Благодарю за интересное тестовое задание. Ниже по ходу выполнения буду комментировать свои действия в формате markdown.**

# Загрузка библиотек и данных

Загружаю библиотеку pandas

In [1]:
import pandas as pd

Загружаю файл csv с данными через path для вашего удобства. 
В момент загрузки файла выяснилось, что он был неправильно закодирован и некорректно отображал данные. Пришлось открыть в экселе и перекодировать в utf-8.

In [2]:
path = 'C:/Users/Sviridov/Desktop/Тест/'
df = pd.read_csv(path + 'Данные Python.csv', sep = ';')
df.head()

             Договор  Приложение
0  ДД1, ДД187, ДД891  1.687.7897
1                ДД2           2
2                ДД3           3
3          ДД4 ДД567      465 47
4                ДД5           5

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Договор     501 non-null    object
 1   Приложение  501 non-null    object
dtypes: object(2)
memory usage: 8.0+ KB

Т.к. строк немного, есть возможность взглянуть на все уникальные значения столбцов для понимания полной картины. Скрыл код, чтобы не перегружать файл.

In [4]:
#sorted(df['договор'].unique())

In [5]:
#sorted(df['приложение'].unique())

**Итог**: учитывая задачу, принял решение пойти путем формирования списков в столбцах, а затем объединить их по номерам элементов списка в одном столбце согласно заданным условиям.

# Предобработка данных

Для удобства изменю названия столбцов на нижний регистр

In [6]:
df = df.rename(columns={'Договор':'договор','Приложение':'приложение'})

Определив все имеющиеся разделители последовательно меняю их на запятую

In [7]:
df['договор'] = df['договор'].str.replace('\n', ',')
df['договор'] = df['договор'].str.replace('/', ',')
df['договор'] = df['договор'].str.replace('.', ',',  regex=True)
df['договор'] = df['договор'].str.replace(' ', ',')
df['договор'] = df['договор'].str.replace('\\', ',', regex=True)

Методом strip очищаю данные от образовавшихся запятых в начале и в конце значений

In [8]:
df['договор'] = df['договор'].str.strip(',')

В некоторых значениях уже фигурировали запятые, поэтому заменяю дубли запятых на одиночную запятую. 
По какой-то причине команда ниже не срабатывает при загрузке с первого раза, поэтому следом продублировал её для работоспособности кода. Списал данное недоразумение на баг.

In [9]:
df['договор'] = df['договор'].str.replace(',,', ',')

In [10]:
df['договор'] = df['договор'].str.replace(',,', ',')

Проделываю аналогичные действия с вторым столбцом.

In [11]:
df['приложение'] = df['приложение'].str.replace('\n', ',')
df['приложение'] = df['приложение'].str.replace('.', ',', regex=True)
df['приложение'] = df['приложение'].str.replace(' ', ',')
df['приложение'] = df['приложение'].str.replace('/', ',')

In [12]:
df['приложение'] = df['приложение'].str.strip(',')

In [13]:
df['приложение'] = df['приложение'].str.replace(',,', ',', regex=True)

In [14]:
df.head()

           договор  приложение
0  ДД1,ДД187,ДД891  1,687,7897
1              ДД2           2
2              ДД3           3
3        ДД4,ДД567      465,47
4              ДД5           5

**Итог**: теперь все данные в столбцах разделены только одной запятой.

# Формирование списков

С помощью лямбда функций создадим два столбца, в которых построчно сформируем списки с элементами через разделитель 'запятая'

In [15]:
df['договор_list'] = df["договор"].apply(lambda row: list(row.split(',')))
df['приложение_list'] = df["приложение"].apply(lambda row: list(row.split(',')))
pd.options.display.max_rows = None

In [16]:
df.head()

           договор  приложение         договор_list приложение_list
0  ДД1,ДД187,ДД891  1,687,7897  [ДД1, ДД187, ДД891]  [1, 687, 7897]
1              ДД2           2                [ДД2]             [2]
2              ДД3           3                [ДД3]             [3]
3        ДД4,ДД567      465,47         [ДД4, ДД567]       [465, 47]
4              ДД5           5                [ДД5]             [5]

**Итог**: получили готовые списки

# Объеденение элементов списков из разных столбцов

Начнем с условия 'кол-во Договоров = кол-во Приложений'. Для данной задачи также воспользуемся лямбда функцией с построчным действием:
-  создаем столбец 'ключ';
-  условие выполняем с помощью len (в нашем случае показывает кол-во элементов в списке каждой строки);
-  соединяем элементы через f-строку переменными x, y методом zip, который соединяет элементы по принципу первый с первым, второй со вторым и так далее, что и необходимо по услови;
-  через else сформируем пустой список. В последующем будем использовать row['ключ'], чтобы не затереть уже полученные ключи по предыдущим условиям.

In [17]:
df['ключ'] = df.apply(
    lambda row: (
        [f"{x}{y}" for x, y in zip(row['договор_list'], row['приложение_list'])]
        if len(row['договор_list']) == len(row['приложение_list']) 
        else [] 
    ),
    axis=1
)

Дальше аналогично прорабатываем условие'кол-во Договоров = 1, а кол-во Приложений > 1', но вместо метода zip вручную определяем алгоритм соединения.

In [18]:
df['ключ'] = df.apply(
    lambda row: (
        [f"{row['договор_list'][0]}{x}" for x in row['приложение_list']] 
        if len(row['договор_list']) == 1 and len(row['приложение_list'])>1
        else row['ключ']
    ),
    axis=1
)

Аналогично 'кол-во Договоров > 1, а кол-во Приложений = 1'

In [19]:
df['ключ'] = df.apply(
    lambda row: (
        [f"{x}{row['приложение_list'][0]}" for x in row['договор_list']] 
        if len(row['договор_list']) > 1 and len(row['приложение_list']) == 1  
        else row['ключ']
    ),
    axis=1
)

Посмотрим какие строки остались для последнего условия.

In [20]:
df[df['ключ'].str.len() == 0]

,договор,приложение,договор_list,приложение_list,ключ
42,"ДД43,ДД611","42,5849,420,232,9786,56,12,88","[ДД43, ДД611]","[42, 5849, 420, 232, 9786, 56, 12, 88]",[]
55,"ДД56,ДД763,ДД195","55,98,75,1,888,567","[ДД56, ДД763, ДД195]","[55, 98, 75, 1, 888, 567]",[]
487,"ДД488,ДД2435","487,4343,6875,446","[ДД488, ДД2435]","[487, 4343, 6875, 446]",[]

К сожалению я не смог выполнить задачу одной командой для условия: 
if len(row['Договор_list']) > 1 and len(row['Приложение_list']) > 1 and len(row['Договор_list']) != len(row['Приложение_list']). Полагаю что нужно комбинировать с методами библиотеки numpy.
Поэтому разбил на подзадачи c возможными вариациями ниже.

'кол-во Договоров == 2, кол-во Приложений == 8 ;

In [21]:
df['ключ'] = df.apply(
    lambda row: (
        [f"{row['договор_list'][0]}{x}" for x in row['приложение_list'][:4]]+
        [f"{row['договор_list'][1]}{x}" for x in row['приложение_list'][4:]]
        if len(row['договор_list']) == 2 and len(row['приложение_list']) == 8
        else row['ключ']
    ),
    axis=1
)

'кол-во Договоров == 3, кол-во Приложений == 6 ;

In [22]:
df['ключ'] = df.apply(
    lambda row: (
        [f"{row['договор_list'][0]}{x}" for x in row['приложение_list'][:2]]+
        [f"{row['договор_list'][1]}{x}" for x in row['приложение_list'][2:4]]+
        [f"{row['договор_list'][2]}{x}" for x in row['приложение_list'][4:]]
        if len(row['договор_list']) == 3 and len(row['приложение_list']) == 6
        else row['ключ']
    ),
    axis=1
)

'кол-во Договоров == 2, кол-во Приложений == 4 ;

In [23]:
df['ключ'] = df.apply(
    lambda row: (
        [f"{row['договор_list'][0]}{x}" for x in row['приложение_list'][:2]]+
        [f"{row['договор_list'][1]}{x}" for x in row['приложение_list'][2:]]
        if len(row['договор_list']) == 2 and len(row['приложение_list']) == 4
        else row['ключ']
    ),
    axis=1
)

Проверка на заполненность всех строк в столбце 'ключ'

In [24]:
df[df['ключ'].str.len() == 0]

Empty DataFrame
Columns: [договор, приложение, договор_list, приложение_list, ключ]
Index: []

**Итог**: получили столбец 'ключ' c готовыми ключами по заданным условиям

# Формирование финального общего списка ключей

Воспользумся методами sum и tolist. С помощью tolist сформируем список списков из столбца 'ключ'. А с помощью второго аргумента [] в sum произойдет соединение всех элементов списков в один.

In [25]:
список_ключей = sum(df['ключ'].tolist(), [])
список_ключей

['ДД11',
 'ДД187687',
 'ДД8917897',
 'ДД22',
 'ДД33',
 'ДД4465',
 'ДД56747',
 'ДД55',
 'ДД66',
 'ДД77',
 'ДД88',
 'ДД74198',
 'ДД8998',
 'ДД99',
 'ДД1010',
 'ДД1111',
 'ДД1212',
 'ДД1313',
 'ДД14145',
 'ДД1476',
 'ДД145',
 'ДД1498',
 'ДД1515',
 'ДД1616',
 'ДД1717',
 'ДД1818',
 'ДД1919',
 'ДД2020',
 'ДД2121',
 'ДД2222',
 'ДД2323',
 'ДД2424',
 'ДД2525',
 'ДД77765',
 'ДД2626',
 'ДД2727',
 'ДД2828',
 'ДД2929',
 'ДД3030',
 'ДД3131',
 'ДД3232',
 'ДД3333',
 'ДД3434',
 'ДД3475',
 'ДД34460',
 'ДД3456768',
 'ДД34568',
 'ДД343567',
 'ДД3468776',
 'ДД344657',
 'ДД3535',
 'ДД3636',
 'ДД3737',
 'ДД3838',
 'ДД3939',
 'ДД401',
 'ДД5432',
 'ДД8983',
 'ДД9994',
 'ДД4140',
 'ДД4241',
 'ДД4342',
 'ДД435849',
 'ДД43420',
 'ДД43232',
 'ДД6119786',
 'ДД61156',
 'ДД61112',
 'ДД61188',
 'ДД4443',
 'ДД4544',
 'ДД4645',
 'ДД4746',
 'ДД4847',
 'ДД4948',
 'ДД5049',
 'ДД5150',
 'ДД5251',
 'ДД5352',
 'ДД345567',
 'ДД5453',
 'ДД123453',
 'ДД5554',
 'ДД5655',
 'ДД5698',
 'ДД76375',
 'ДД7631',
 'ДД195888',
 'ДД195567',
 'ДД5756',
 'ДД5857',
 'ДД5958',
 'ДД6059',
 'ДД6160',
 'ДД6261',
 'ДД6362',
 'ДД6463',
 'ДД6564',
 'ДД6665',
 'ДД6766',
 'ДД6867',
 'ДД6968',
 'ДД7069',
 'ДД7170',
 'ДД7271',
 'ДД7372',
 'ДД7473',
 'ДД7574',
 'ДД7675',
 'ДД7776',
 'ДД7877',
 'ДД7978',
 'ДД8079',
 'ДД8180',
 'ДД8281',
 'ДД8382',
 'ДД8483',
 'ДД8584',
 'ДД8685',
 'ДД91688',
 'ДД8786',
 'ДД8887',
 'ДД8988',
 'ДД9089',
 'ДД9190',
 'ДД9291',
 'ДД9392',
 'ДД93798',
 'ДД9493',
 'ДД9594',
 'ДД9695',
 'ДД9796',
 'ДД9897',
 'ДД9998',
 'ДД10099',
 'ДД101100',
 'ДД102101',
 'ДД103102',
 'ДД104103',
 'ДД105104',
 'ДД106105',
 'ДД107106',
 'ДД108107',
 'ДД109108',
 'ДД110109',
 'ДД111110',
 'ДД112111',
 'ДД113112',
 'ДД114113',
 'ДД115114',
 'ДД116115',
 'ДД117116',
 'ДД118117',
 'ДД119118',
 'ДД120119',
 'ДД121120',
 'ДД122121',
 'ДД123122',
 'ДД124123',
 'ДД125124',
 'ДД126125',
 'ДД127126',
 'ДД128127',
 'ДД129128',
 'ДД130129',
 'ДД131130',
 'ДД132131',
 'ДД133132',
 'ДД134133',
 'ДД135134',
 'ДД136135',
 'ДД137136',
 'ДД138137',
 'ДД139138',
 'ДД140139',
 'ДД141140',
 'ДД142141',
 'ДД143142',
 'ДД144143',
 'ДД145144',
 'ДД146145',
 'ДД147146',
 'ДД148147',
 'ДД149148',
 'ДД150149',
 'ДД151150',
 'ДД152151',
 'ДД153152',
 'ДД154153',
 'ДД155154',
 'ДД156155',
 'ДД157156',
 'ДД158157',
 'ДД159158',
 'ДД160159',
 'ДД161160',
 'ДД888166',
 'ДД162161',
 'ДД163162',
 'ДД164163',
 'ДД165164',
 'ДД166165',
 'ДД167166',
 'ДД168167',
 'ДД169168',
 'ДД170169',
 'ДД171170',
 'ДД4561',
 'ДД3492',
 'ДД45673',
 'ДД172171',
 'ДД173172',
 'ДД174173',
 'ДД175174',
 'ДД176175',
 'ДД177176',
 'ДД178177',
 'ДД179178',
 'ДД180179',
 'ДД181180',
 'ДД182181',
 'ДД183182',
 'ДД184183',
 'ДД185184',
 'ДД186185',
 'ДД187186',
 'ДД188187',
 'ДД189188',
 'ДД190189',
 'ДД191190',
 'ДД192191',
 'ДД193192',
 'ДД194193',
 'ДД195194',
 'ДД196195',
 'ДД197196',
 'ДД198197',
 'ДД199198',
 'ДД200199',
 'ДД201200',
 'ДД202201',
 'ДД203202',
 'ДД204203',
 'ДД205204',
 'ДД206205',
 'ДД207206',
 'ДД208207',
 'ДД209208',
 'ДД909666',
 'ДД210209',
 'ДД211210',
 'ДД212211',
 'ДД213212',
 'ДД214213',
 'ДД215214',
 'ДД216215',
 'ДД217216',
 'ДД218217',
 'ДД219218',
 'ДД220219',
 'ДД221220',
 'ДД222221',
 'ДД223170',
 'ДД2231',
 'ДД2232',
 'ДД2233',
 'ДД224223',
 'ДД225224',
 'ДД226225',
 'ДД227226',
 'ДД228227',
 'ДД229228',
 'ДД1114567',
 'ДД230229',
 'ДД231230',
 'ДД232231',
 'ДД233232',
 'ДД234233',
 'ДД235234',
 'ДД236235',
 'ДД237236',
 'ДД238237',
 'ДД239238',
 'ДД240239',
 'ДД241240',
 'ДД242241',
 'ДД243242',
 'ДД244243',
 'ДД245244',
 'ДД246245',
 'ДД247246',
 'ДД248247',
 'ДД249248',
 'ДД250249',
 'ДД251250',
 'ДД252251',
 'ДД253252',
 'ДД254253',
 'ДД255254',
 'ДД256255',
 'ДД257256',
 'ДД258170',
 'ДД2581',
 'ДД2582',
 'ДД2583',
 'ДД259258',
 'ДД260259',
 'ДД261260',
 'ДД262261',
 'ДД263262',
 'ДД264263',
 'ДД265264',
 'ДД266265',
 'ДД267266',
 'ДД268267',
 'ДД09884561',
 'ДД269268',
 'ДД270269',
 'ДД271270',
 'ДД272271',
 'ДД273272',
 'ДД274273',
 'ДД275274',
 'ДД276275',
 'ДД277276',
 'ДД278277',
 'ДД279278',
 'ДД280279',
 'ДД281280',
 'ДД282281',
 'ДД283282',
 'ДД284283',
 'ДД285284',
 'ДД286285',
 'ДД287286',
 'ДД288287',
 'ДД289288',
 'ДД2902897878565',
 'ДД675472897878565',
 'ДД291290',
 'ДД292291',
 'ДД293292',
 'ДД294293',
 'ДД295294',
 'ДД296295',
 'ДД297296',
 'ДД298297',
 'ДД299298',
 'ДД300299',
 'ДД301300',
 'ДД302301',
 'ДД303302',
 'ДД304303',
 'ДД305304',
 'ДД306305',
 'ДД307306',
 'ДД308307',
 'ДД309308',
 'ДД310309',
 'ДД311310',
 'ДД312311',
 'ДД313312',
 'ДД314313',
 'ДД315314',
 'ДД316315',
 'ДД317316',
 'ДД318317',
 'ДД319318',
 'ДД320319',
 'ДД321320',
 'ДД322321',
 'ДД323322',
 'ДД324323',
 'ДД325324',
 'ДД326325',
 'ДД327326',
 'ДД328327',
 'ДД329328',
 'ДД330329',
 'ДД331330',
 'ДД332331',
 'ДД333332',
 'ДД334333',
 'ДД335334',
 'ДД336335',
 'ДД337336',
 'ДД338337',
 'ДД339338',
 'ДД340339',
 'ДД341340',
 'ДД342341',
 'ДД343342',
 'ДД344343',
 'ДД345344',
 'ДД346345',
 'ДД347346',
 'ДД348347',
 'ДД349348',
 'ДД350349',
 'ДД351350',
 'ДД352351',
 'ДД353352',
 'ДД354353',
 'ДД355354',
 'ДД356355',
 'ДД357356',
 'ДД358357',
 'ДД359358',
 'ДД360359',
 'ДД361360',
 'ДД362361',
 'ДД363362',
 'ДД364363',
 'ДД365364',
 'ДД366365',
 'ДД367366',
 'ДД368367',
 'ДД369368',
 'ДД370369',
 'ДД371370',
 'ДД372371',
 'ДД373372',
 'ДД374373',
 'ДД375374',
 'ДД376375',
 'ДД377376',
 'ДД378377',
 'ДД379378',
 'ДД380379',
 'ДД3805757465',
 'ДД381380',
 'ДД382381',
 'ДД383382',
 'ДД384383',
 'ДД385384',
 'ДД386385',
 'ДД387386',
 'ДД388387',
 'ДД389388',
 'ДД389',
 'ДД389987987',
 'ДД390389',
 'ДД391390',
 'ДД392391',
 'ДД393392',
 'ДД394393',
 'ДД395394',
 'ДД396395',
 'ДД397396',
 'ДД398397',
 'ДД399398',
 'ДД400399',
 'ДД78687399',
 'ДД401400',
 'ДД402401',
 'ДД403402',
 'ДД404403',
 'ДД405404',
 'ДД406405',
 'ДД407406',
 'ДД408407',
 'ДД409408',
 'ДД410409',
 'ДД411410',
 'ДД412411',
 'ДД413412',
 'ДД414413',
 'ДД415414',
 'ДД416415',
 'ДД417416',
 'ДД418417',
 'ДД419418',
 'ДД420419',
 'ДД421420',
 'ДД422421',
 'ДД422787',
 'ДД42276578',
 'ДД422467',
 'ДД422687',
 'ДД422356',
 'ДД42287',
 'ДД423422',
 'ДД424423',
 'ДД425424',
 'ДД426425',
 'ДД427426',
 'ДД428427',
 'ДД429428',
 'ДД430429',
 'ДД431430',
 'ДД432431',
 'ДД433432',
 'ДД3478',
 'ДД97676587',
 'ДД346745',
 'ДД765787',
 'ДД434433',
 'ДД435434',
 'ДД436435',
 'ДД437436',
 'ДД438437',
 'ДД439438',
 'ДД440439',
 'ДД441440',
 'ДД442441',
 'ДД443442',
 'ДД444443',
 'ДД445444',
 'ДД446445',
 'ДД447446',
 'ДД448447',
 'ДД449448',
 'ДД450449',
 'ДД451450',
 'ДД452451',
 'ДД453452',
 'ДД454453',
 'ДД455454',
 'ДД456455',
 'ДД457456',
 'ДД458457',
 'ДД459458',
 'ДД460459',
 'ДД461460',
 'ДД462461',
 'ДД463462',
 'ДД464463',
 'ДД465464',
 'ДД466465',
 'ДД467466',
 'ДД468467',
 'ДД469468',
 'ДД470469',
 'ДД471470',
 'ДД472471',
 'ДД473472',
 'ДД474473',
 'ДД475474',
 'ДД476475',
 'ДД477476',
 'ДД478477',
 'ДД479478',
 'ДД480479',
 'ДД481480',
 'ДД482481',
 'ДД483482',
 'ДД484483',
 'ДД485484',
 'ДД486485',
 'ДД487486',
 'ДД488487',
 'ДД4884343',
 'ДД24356875',
 'ДД2435446',
 'ДД489488',
 'ДД490489',
 'ДД491490',
 'ДД492491',
 'ДД493492',
 'ДД494493',
 'ДД495494',
 'ДД496495',
 'ДД497496',
 'ДД498497',
 'ДД499498',
 'ДД500499',
 'ДД501500']

In [26]:
len(список_ключей)

567

**Итог**: получили финальный список ключей с количеством 567.