# Python - Практика

## 1. Создайте программу, которая принимает на вход две строки и выводит их конкатенацию (соединение).

In [1]:
a = "водка без пива"
b = "деньги на ветер"
mind = a + " - " + b
print(mind)

водка без пива - деньги на ветер

## 2. Напишите скрипт, который проверяет, является ли строка палиндромом. (Т.е. слово пишется одинаково туда сюда. Пример "заказ", "довод" и т.д.)

In [2]:
a = "водка без пива"
if a == a[::-1]:
  print("это палиндром")
else:
  print("это не палиндром")

это не палиндром

## 3. Создайте число a и присвойте ему какое-то значение. Если оно больше 50 и меньше 100, выведете: "Блок 1". Если больше 100, но меньше 200: "Блок 2". Во всех остальных случаях: "Блок 3"

In [3]:
a = 64
if a > 50 and a < 100:
  print("Блок 1")
elif a > 100 and a < 200:
  print("Блок 2")
else:
  print("Блок 3")

Блок 1

## 4. Напишите код, который принимает строку и заменяет все пробелы на подчеркивания.

In [4]:
c = 'не буди лихо, пока оно тихо'
print(c.replace(' ','_'))

не_буди_лихо,_пока_оно_тихо

## 5. Напишите код, который создает список из первых 10 чисел и выводит его.

In [5]:
e = []
for i in range(10):
  e.append(i)
print(e)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 6. Протестируйте работу метода str.split(). Метод split(метод строки) - разделяет строку на элементы массива через разделитель.

In [6]:
a = 'Hello there'
b = a.split(' ')
print(b, type(b))

['Hello', 'there'] <class 'list'>

## 7. Создайте множество из строк: "apple", "banana", "cherry". Добавьте в него строку "orange".

In [7]:
fruits = {'apple','banana','cherry'}
fruits.add('orange')
print(fruits)

{'banana', 'orange', 'cherry', 'apple'}

## 8. Проверьте, содержится ли элемент "apple" в множестве.

In [8]:
print("apple" in fruits)

True

## 9. Найдите количество уникальных элементов в списке: [1, 2, 2, 3, 4, 4, 4, 5].

In [9]:
print(len(set([1, 2, 2, 3, 4, 4, 4, 5])))

5

## 10. Создайте словарь с тремя парами "ключ-значение": "name": "Alice", "age": 25, "city": "Moscow". Выведите его.\
**Добавьте в словарь из предыдущего пункта новую пару: "job": "Engineer**

In [10]:
dict = {"name": "Alice", "age": 25, "city": "Moscow"}
print(dict)
dict["job"] = "Engineer"
print(dict)

{'name': 'Alice', 'age': 25, 'city': 'Moscow'}
{'name': 'Alice', 'age': 25, 'city': 'Moscow', 'job': 'Engineer'}

## 11. Создайте список строк: ["apple", "banana", "cherry"] и выведите каждую строку с добавлением " fruit" в конце.

In [11]:
wham = ["apple", "banana", "cherry"]
for i in wham:
  print(i+" fruit")

apple fruit
banana fruit
cherry fruit

## 12. Создайте список чисел от 5 до 15 и найдите их сумму, используя цикл for. (не использовать функцию sum!)

In [12]:
zoom = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
summa= 0
for i in zoom:
  summa += i
print(summa)

110

## 13. Создайте список строк: ["apple", "banana", "cherry"] и создайте новый список, содержащий длины этих строк.

In [13]:
fruits = ["apple", "banana", "cherry"]
lens = []
for i in fruits:
  lens.append(len(i))
print(lens)

[5, 6, 6]

## 14. Создайте список чисел от 1 до 10 включительно. Далее создайте множество только из чисел строго больше 6.

In [14]:
ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mu = set()
for i in ten:
  if i > 6:
    mu.add(i)
print(mu)

{8, 9, 10, 7}

## 17. Создайте переменную count и присвойте ей значение 0. Используя цикл while, увеличивайте count на 1, пока он не станет равен 5, и выведите его значение.

In [15]:
count = 0
while count < 5:
  count += 1
print(count)

5

## 18. Создайте функцию multiply(a, b), которая возвращает произведение двух чисел.

In [16]:
def multiply(a, b):
  print(a*b)

x=10
y=20
multiply(x, y)

200

## 19. Создайте функцию max_value(a, b), которая возвращает большее из двух чисел.

In [17]:
def max_value(a, b):
  print(max([a, b]))

max_value(x, y)

20

## 20. Создайте функцию full_name(first_name, last_name), которая объединяет имя и фамилию и возвращает полное имя.

In [18]:
def full_name(first_name, last_name):
  print(first_name + ' ' + last_name)

first_name = 'Andrey'
last_name = 'Sviridov'
full_name(first_name, last_name)

Andrey Sviridov

## 21. Напишите функцию print_coordinates(x, y), которая выводит координаты в формате "x: {x}, y: {y}".

In [19]:
def print_coordinates(x, y):
  return(f'x: {x}, y: {y}')

x = 5
y = 6
print_coordinates(x, y)

'x: 5, y: 6'

## 22. Напишите функцию format_date(year, month, day), которая возвращает строку формата "YYYY-MM-DD".

In [20]:
def format_date(year, month, day):
  month = str(month)
  if len(month) < 2:
    month = '0' + month
  day = str(day)
  if len(day) < 2:
    day = '0' + day
  print(f'{year}-{month}-{day}')

format_date(2000,10,10)

2000-10-10

## 23. Напишите функцию format_date(year, month, day), которая возвращает строку формата "YYYY-MM-DD".

In [21]:
def format_date_ternar(year, month, day):
  month = '0' + str(month) if len(str(month)) < 2 else str(month)
  day = '0' + str(day) if len(str(day)) < 2 else str(day)
  return(f'{year}-{month}-{day}')

format_date(2000,1,1)

2000-01-01

## 24. Напишите функцию greet, которая выводит приветствие с именем, используя значение по умолчанию. (По умолчанию "Гость")

In [22]:
def greet(a = 'Гость'):
  print(f'Привет, {a}!')

greet()

Привет, Гость!

## 25. Напишите функцию calculate_discount(price, discount=0), которая рассчитывает цену со скидкой.

In [23]:
def calculate_discount(price, discount=0):
  print(price - price*discount/100)

calculate_discount(40, 10)

36.0

## 26. Создайте функцию с использованием *args, которая принимает произвольное количество слов и возвращает строку, состоящую из этих слов.

In [24]:
def to_stroke(*args):
  stroke = ''
  for i in args:
    stroke += i + ' '
  return stroke.strip()

to_stroke('be', 'be', 'be')

'be be be'

## 27. Напишите функцию с использованием *kwargs, которая принимает произвольное количество именованных параметров и выводит их на экран.

In [25]:
def kwarki(**kwargs):
  print(kwargs)
kwarki(a=4, b=5)

{'a': 4, 'b': 5}

## 28. Создайте список из 10 случайных целых чисел. Используйте функцию filter и lambda, чтобы получить новый список, содержащий только четные числа.

In [26]:
import random
hryandom = []
for i in range(10):
  hryandom.append(random.randint(1, 50))
hryum_new = list(filter(lambda x: x%2 == 0, hryandom))
hryum_newnew = [x for x in hryandom if x%2 == 0] # как вариант через list comprehension
print(hryum_new)
print(hryum_newnew)

[12, 44, 34, 14, 28]
[12, 44, 34, 14, 28]

## 29. Создайте список строк. Используя filter и lambda, получите новый список, содержащий только те строки, длина которых больше 3 символов.

In [27]:
string = ['bam', 'bams', 'bom', 'boms', 'bum', 'bums', 'bugi-vugi']
string_3 = list(filter(lambda x:len(x) > 3, string))
print(string_3)

['bams', 'boms', 'bums', 'bugi-vugi']

## 30. Создайте список словарей с информацией о людях (имя и возраст). Используя filter и lambda, получите новый список только тех людей, чей возраст больше 18 лет.

In [28]:
my_dict = {'pedro' : 25, 'jofri' : 18, 'yoda' : 900, 'mickey' : 100, 'bender' : 30, 'maggi' : 2}
name_18 = list(filter(lambda x: x[1] > 18, my_dict.items()))

name_18_listdict = []
for item in name_18: 
    name_18_listdict.append({item[0]: item[1]})

print(name_18)
print(name_18_listdict)

[('pedro', 25), ('yoda', 900), ('mickey', 100), ('bender', 30)]
[{'pedro': 25}, {'yoda': 900}, {'mickey': 100}, {'bender': 30}]

## 31. Создайте список квадратов чисел от 1 до 10 с помощью генератора списков

In [29]:
wow = list(range(1,10))
wow_square = [x**2 for x in wow]
print(wow_square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## 32. Создайте список строк и используйте списковое включение, чтобы получить новый список, содержащий длины этих строк.

In [30]:
string = ['bam', 'bams', 'bom', 'boms', 'bum', 'bums', 'bugi-vugi']
string_len = [len(x) for x in string]
print(string_len)

[3, 4, 3, 4, 3, 4, 9]

## 33. Создайте список целых чисел. Используя генератор списков, создайте новый список, где каждое число заменено на сумму его цифр

In [31]:
import random
burbon = []
for i in range(10):
  burbon.append(random.randint(50, 500))
    
radadendron = [sum(int(x) for x in str(y)) for y in burbon]

print(burbon)
print(radadendron)

[100, 72, 132, 57, 211, 454, 443, 352, 338, 250]
[1, 9, 6, 12, 4, 13, 11, 10, 14, 7]

## 34. Импортировать файл из директории

In [32]:
import sys
sys.path.append(r'C:\Users\Sviridov\Desktop\Тестовые\Pet')

from my_file import my_first_module
my_first_module()

hello

## 35. Создайте класс Person, который имеет атрибуты name и age. Реализуйте метод greet(), который выводит приветствие с именем человека.

In [33]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def greet(self):
    print(f'Hello, {self.name}!')

Donald = Person(name='Donald', age = '79')
Donald.greet()

Hello, Donald!

## 36. Создайте класс Car, с атрибутами make, model, year. Добавьте метод display_info(), который выводит информацию о машине.

In [34]:
class Car:
  def __init__(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year

  def display_info(self):
    print(self.make, self.model, self.year)

Caldina = Car(make = 'japan', model = 'toyota', year = 2000)
Caldina.display_info()

japan toyota 2000

## 37. Создайте базовый класс Animal, который имеет атрибуты name и метод make_sound(). Создайте подклассы:
**Dog, переопределяющий метод, чтобы он выводил "Woof!"**\
**Cat, переопределяющий метод, чтобы он выводил "Meow!"**

In [35]:
class Animal:
  def __init__(self, name):
    self.name = name

  def make_sound(self):
    pass

class Dog(Animal):
  def __init__(self, name):
    super().__init__(name)

  def make_sound(self):
    super().make_sound()
    print("Woof!")

class Cat(Animal):
  def __init__(self, name):
    super().__init__(name)

  def make_sound(self):
    super().make_sound()
    print("Meow!")

Linda = Dog(name = 'linda')
Mars = Cat(name = 'mars')
Linda.make_sound()
Mars.make_sound()

Woof!
Meow!

## 38. Создайте класс Bank, который управляет счетами клиентов. Требования:

**Есть класс Account, с атрибутами: номер счета (account_number), имя владельца (owner), баланс (balance)**\
**Метод deposit(amount) — пополнение счета.**\
**Метод withdraw(amount) — снятие средств, с проверкой на достаточность баланса.**\
**В классе Bank храните список всех счетов.**\
**Реализуйте метод add_account(account).**\
**Реализуйте метод get_total_balance(), возвращающий сумму всех счетов банка.**

In [36]:
class Bank:
  accounts = []
  def __init__(self):
    self.accounts = []
    
  def add_account(self, account):
    self.accounts.append(account)
    
  def get_total_balance(self):
    total = 0
    for x in self.accounts:
      total += x.balance
    print(total)

class Account:
  def __init__(self, account_number, owner, balance):
    self.account_number = account_number
    self.owner = owner
    self.balance = balance

  def deposit(self, amount):
    self.balance += amount

  def withdraw(self, amount):
    self.balance -= amount
    print(f'Your balance: {self.balance}')

bank_27 = Bank()
kurt01 = Account(account_number = '01', owner = 'kobain', balance = 5000)
jimi02 = Account(account_number = '02', owner = 'hendrix', balance = 3000)
jim03 = Account(account_number = '03', owner = 'morison', balance = 2000)
bank_27.add_account(kurt01)
bank_27.add_account(jimi02)
bank_27.add_account(jim03)

bank_27.get_total_balance()

10000